*{
    box-sizing:border-box;
}
body{
    background-image:url(../images/image1.jpg);
    background-size:cover;
    background-attachment: fixed;
  
   
}
.all{
    display:grid;
    grid-template-rows: auto 70em 15em ;
    grid-template-columns: minmax(25em , 1fr)  ;
    grid-template-areas:
    "header"
    "main"
    "footer" ;
}
header{
    grid-area:header;
}
main{
    grid-area:main;
}

footer{
    grid-area:footer;
    background-color:black;
}


nav ul{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    text-decoration:none;
}
nav ul li{
    display:inline-block;
   
    
    padding:0em 0.5em;
    
    margin:0em 0em;
    list-style:none;
    
} 
li{
    font-size:30px;
    line-height:60px;
}
nav ul li a{
    text-decoration:none;
    font-weight:bold;
    font-size:30px;
}
nav ul li a:link{
    color:darkslateblue;
}
nav ul li a:visited{
    color:white;
    
}
nav ul li a:hover{
    color:blue;
   
}
nav ul li a:active{
    color:gold;
    text-decoration: underline;
}

H1{
    text-align:center;
    text-transform:uppercase;
    animation: heading 3s 1;
    
}
@keyframes heading {
    0%{
        color:black;

    }
    30%{
        color:aquamarine;
        letter-spacing:34px;
        margin-bottom:14%;
    }
    85%{
        letter-spacing:10%;
        color:cadetblue;
    }
}
.miedi{
   border-bottom-right-radius: 50%;
   border-top-left-radius: 50%;
    width:15%;
    position:absolute;
    margin:12em 12em;
}
.name{
    position:relative;
    margin: 11em 23em;
    text-transform:uppercase;
    width:max-content;
    font-size:23px;
}
.test1{
    position:absolute;
    margin:12em 23em;
    width:max-content;
   font-size: 1.5rem;
   font-weight:900;
}

.cha{
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
     width:19%;
     position:absolute;
     margin:12em 40em;
 }
 .name2{
     position:relative;
     margin: 21em 46em;
     text-transform:uppercase;
     width:max-content;
     font-size:23px;
 }
 .test2{
     position:absolute;
     margin:12em 47em;
     width:max-content;
    font-size: 23px;
    font-weight:900;
 }

 .video{
    margin:1em 2em;
    position: absolute;
}

 .name3{
    position:relative;
    margin: 19em 24em;
    text-transform:uppercase;
    width:max-content;
    font-size:23px;
}
.test3{
    position:absolute;
    margin:3em 24em;
    width:max-content;
   font-size: 23px;
   font-weight:900;
}
 
.kal{
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
     width:19%;
     position:absolute;
     margin:1em 36em;
 }
 .name4{
     position:relative;
     margin: 21em 45em;
     text-transform:uppercase;
     width:max-content;
     font-size:23px;
 }
 .test4{
     position:absolute;
     margin:5em 45em;
     width:max-content;
    font-size: 23px;
    font-weight:900;
 }


/*
a.pages , a:hover{
    transition: .3s;
}
.checkbox{
    font-size:30px;
    color:black;
    float:left;
    margin:0px 0px;
}
#checkbutton{
    display:none;
}*/

.media-icons{
    display:flex;
    align-items:center;
    text-align:center;
    justify-content:center;
}
.media-icons img{
    height:30px;
    margin:20px;
    cursor:pointer;
    align-items:center;
    border:1px solid;
    border-radius:50%;
    
}



   /*


@media screen and (max-width:1024px){
   
   
   
    .all{
        grid-template-rows: auto 95em 5em ;
        
        grid-template-columns: minmax(74em , 1fr)  ;
    }
    nav ul li a{
        font-size:26px;
       
     }
    
    h1{
        margin-top:5em;
    }
 
}
@media screen and (max-width:768px){
    nav ul li a{
       font-size:26px;
    }
    
    .all{
        grid-template-rows: auto 125em 6em ;
        grid-template-columns: minmax(100em , 1fr)  ;
    }
    .miedi{
       
         width:25%;
         
         margin:1em 13em;
     }
     .name{
         
         margin: 4em 23em;
         
         font-size:23px;
     }
     .test1{
         
         margin:6em 20em;
         
        font-size: 23px;
        
     }
     
     .cha{
        
          width:29%;
          
          margin:14em 44em;
      }
      .name2{
          
          margin: 14em 48em;
          
          font-size:23px;
      }
      .test2{
         
          margin:12em 44em;
        
         font-size: 23px;
         ;
      }
     
      .video{
         margin:1em 2em;
         
     }
     
      .name3{
         
         margin: 6em 24em;
         font-size:23px;
     }
     .test3{
       
         margin:3em 24em;
        
        font-size: 23px;
        
     }
      
     .kal{
        
          width:29%;
          
          margin:19em 36em;
      }
      .name4{
         
          margin: 21em 39em;
       
        
          font-size:23px;
      }
      .test4{
         
          margin:19em 39em;
         
        
      }
     
}
@media screen and (max-width:540px){
    .all{
       grid-template-rows: auto 107em 8em ;
       grid-template-columns: minmax(76em , 1fr)  ;
   }


}

@media screen and (max-width:425px){
  
     
     .all{
         grid-template-rows: auto 195em 6em ;
         grid-template-columns: minmax(109em , 1fr)  ;
     }
     ul li{
        font-size:39px;

    }
    ul li a{
        letter-spacing: 3px;
    }
    h1{
        font-size: 63px;
        letter-spacing: 2px;
        margin-top:2em;
    }
     .miedi{
        
          width:65%;
          
          margin:1em 13em;
      }
      .name{
          
          margin: 2em 13em;
          
          font-size:43px;
          letter-spacing: 2px;
      }
      .test1{
          
          margin:3em 10em;
          
         font-size: 53px;
         
      }
      
      .cha{
         
           width:79%;
           
           margin:34em 64em;
       }
       .name2{
           
           margin: 16em 10em;
           
           font-size:43px;
           letter-spacing: 2px;
       }
       .test2{
          
           margin:13em 4em;
         
          font-size: 53px;
          ;
       }
      
       .video{
          margin:1em 2em;
          width:600px;
          height:340px;
      }
      
       .name3{
          
          margin: 6em 16em;
          font-size:43px;
          letter-spacing: 2px;
      }
      .test3{
        
          margin:2em 12em;
         
         font-size: 53px;
         
      }
       
      .kal{
         
           width:79%;
           
           margin:14em 36em;
       }
       .name4{
          
           margin: 12em 23em;
           font-size:43px;
           letter-spacing: 2px;
       }
       .test4{
          margin:7em 18em;
          font-size: 53px;
       }
 
    
    
}
@media screen and (max-width:375px){
    .all{
        grid-template-rows: auto 186em 15em ;
        grid-template-columns: minmax(93em , 1fr)  ;
    }
    .kal{
        margin:16em 30em;
    }
    .test4{
    margin:7em 15.5em;
    }
    .test1{
        margin:3em 8em;
    }
    .miedi{
        margin:1em 7em;
    }
    
    
}

@media screen and (max-width:320px){
  
    .all{
        grid-template-rows: 15em 180em 15em ;
        grid-template-columns: minmax(79em , 1fr)  ;
    }
   
    nav ul li a:link{
        font-size: 36px;
        letter-spacing:1px;
    }
    
   
    .name4{
        margin:12em 13em;
    }
    .kal{
        margin:16em 15em;
    }
    .test4{
    margin:7em 11em;
    }
    .miedi{
        margin:18em 1em;

    }
    .test1{
        margin:2em 4em;
        width:700%;
          
    }
    .cha{
        margin:34em 62em;

    }
    .test3{
        margin:2em 7.5em;

    }
    .video{
        width:350px;
    }
}
    


*/
@media screen and (min-width:400px){

nav ul li {
    flex:none;
} 
nav ul {
    flex-wrap: wrap;
}
  nav ul{
      justify-content: center;
  } 
.test1{
    margin-left:35%;
    margin-top:10em;
    font-size:15px;
}
.miedi{
    width:25%;
    margin:5em 0em;
}
.name{
    margin-top:6em;
    margin-left:40%;
}
.test2{
    margin-left:55%;
    margin-top:3em;
    font-size:15px;
}
.cha{
    width:35%;
    margin-left:5em;
    margin-top:0em;
}
.name2{
    margin-top:10em;
    margin-left:55%;
}

.video{
    top:95%;
    margin-left: 0em;
    width:200px;
    height:150px;
}

 .name3{
    
    margin-left:15em;
    top:-19%;
   
    font-size:18px;
}
.test3{
    
    margin-left:14em;
    top:99%;
    
   font-size: 15px;
   
}
 



.name4{
    top:-44%;;
    margin-left:41%;
    font-size: 19px;
    


}
.kal{
    width:25%;
    margin-left:0em;
    top:113%;
}
.test4{
    margin-left:39%;
    margin-top:-85%;
    font-size:15px;
    
}

}
@media screen and (min-width:600px){
    .kal{
        width:20%;
        
    }
    .test4{
        margin-left:30%;
        margin-top:-68%;
      
    }
 



    }
    @media screen and (min-width:650px){
        .kal{
            width:20%;
            margin-left:35em;
            top:105%;

            
        }
        .test4{
            margin-left:44%;
            margin-top:-58%;
          
        }
     }
     @media screen and (min-width:700px){
        .kal{
            width:20%;
            margin-left:35em;
            top:90%;

            
        }
        .test4{
            margin-left:44%;
            margin-top:-48%;
          
        }
     }
     @media screen and (min-width:750px){
        .kal{
            width:20%;
            margin-left:40em;
            top:90%;

            
        }
        .cha{
            width:15%;
            margin-left:10em;
            margin-top:0em;
        }
        .test2{
            margin-left:45%;
            margin-top:3em;
            font-size:15px;
        }
        
        .name2{
            margin-top:10em;
            margin-left:45%;
        }
        .miedi{
            width:15%;
            margin:5em 0em;
        }
        .test1{
            margin-left:25%;
            margin-top:10em;
            font-size:15px;
        }
        
        .name{
            margin-top:6em;
            margin-left:30%;
        }
        .test4{
            margin-left:54%;
            margin-top:-48%;
          
        }
        .name4{
            top:-45%;;
            margin-left:49%;
            font-size: 19px;
            
        
        
        }
    }
        @media screen and (min-width:850px){
            .kal{
                width:20%;
                margin-left:45em;
                top:90%;
    
                
            }
            .test4{
                margin-left:54%;
                margin-top:-40%;
              
            }
     }
     
     @media screen and (min-width:900px){
        .kal{
            width:20%;
            margin-left:55em;
            top:70%;

            
        }
        .name4{
            top:-50%;;
            margin-left:59%;
            font-size: 19px;
            
        
        
        }
        .test4{
            margin-left:64%;
            margin-top:-40%;
          
        }
 }
 @media screen and (min-width:1000px){
    .kal{
        width:15%;
        margin-left:55em;
        top:40%;

        
    }
    .name4{
        top:-110%;
        margin-left:50%;
        font-size: 19px;
        color:green;
        
    
    
    }
    .test4{
        margin-left:48%;
        margin-top:-70%;
      
    }
    .cha{
        width:15%;
        margin-left:49em;
        margin-top:15em;
    }
    .test2{
        margin-left:45%;
        margin-top:10em;
        font-size:15px;
    }
    
    .name2{
        margin-top:29em;
        margin-left:45%;
    }
    

}
@media screen and (min-width:1200px){
    .kal{
        width:15%;
        margin-left:75em;
        top:35%;

        
    }
    .name4{
        top:-110%;
        margin-left:50%;
        font-size: 19px;
        color:green;
        
    
    
    }
    .test4{
        margin-left:48%;
        margin-top:-70%;
      
    }
    .cha{
        width:15%;
        margin-left:59em;
        margin-top:15em;
    }
    .test2{
        margin-left:80%;
        margin-top:17em;
        font-size:15px;
    }
    
    .name2{
        margin-top:19em;
        margin-left:80%;
    }
    

}
@media screen and (min-width:1400px){
    .kal{
        width:15%;
        margin-left:75em;
        top:35%;

        
    }
    .test4{
        margin-left:48%;
        margin-top:-63%;
        font-size:25px;;
      
    }
    .test1{
        font-size:20px;
        margin-left:20%;
    }
    .cha{
        width:15%;
        margin-left:64em;
        
    }
    .test2{
        margin-left:75%;
        margin-top:19em;
        font-size:15px;
    }
    
    .name2{
        margin-top:20em;
        margin-left:78%;
    }
    .name3{
    
        margin-left:15em;
        top:-29%;
       
        font-size:18px;
    }
}